@page "/hotels"
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.Web
@attribute [Authorize]

<PageTitle>Hoteles</PageTitle>

<div class="container mt-4">
    <h1>Hoteles Disponibles</h1>
    <div class="row mt-4">
        <div class="col-12">
            <p>Esta sección mostrará la lista de hoteles disponibles próximamente.</p>
        </div>
    </div>
</div>